.container {
    display: flex;
    // flex-wrap: wrap;
}

.sokeside {
    display: flex;
    justify-content: center;
}

.column {
    margin: 1rem;
}


.sokeform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;

    @media screen and (min-width: 700px) {
        width: 50%;
    }
}